body {
    background-color: lightskyblue;
    font-family: Arial;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    justify-content: center;
  }
  
  h1 {
    font-size: 72px;
  }
  
  p {
    font-size: 28px;
  }