
body {
    background-color: rgb(74, 169, 228);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body h1 {
    font-size: 72px;
    vertical-align: middle;
    padding: 10px;
    margin: 50px 0px;
    font-weight: bolder;
    text-align: center;
  }
  body h2 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }
  .col-md-8 {
    font-size: 24px;
    width: 720px;
    text-align: justify;
  }
  footer {

    color: #DCDCDC;
    margin-top: 30px;
    text-align: center;
}

#journal-entries ul {
  display: inline;
}

#journal-entries ul > li {
  display: inline;
  background-color: orange;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  margin: 0.25rem;
}